mir-eval==0.6
mirdata==0.3.6
nnAudio==0.3.1
tensorflow==2.8.0
tensorboard==2.8.0
keras==2.8.0
Keras-Preprocessing==1.1.2
-e git+https://github.com/mathieulagrange/doce.git@3ad246067c6a8ac829899e7e888f4debbad80629#egg=doce
-e git+https://github.com/rastegah/scattering-examples.git@ebd6fe808c846dfbc23fc9b76fc7149be722c5d7#egg=kymjtfs
torchmetrics @ git+https://github.com/PyTorchLightning/metrics.git@3af729508289d3babf0e166d9e8405cb2b0758a2
kymatio @ git+https://github.com/OverLordGoldDragon/kymatio.git@refs/pull/16/head